@font-face {
	font-family: 'meow';
	font-display: 'swap';
	src: url('https://raw.githubusercontent.com/L3gEnd17/custom-imports/refs/heads/main/KissMeowNon-CommercialUse.woff2') format('woff2');
}
